NEXT_PUBLIC_SUPABASE_URL=https://gwfuyogbeetuskwtjuut.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3ZnV5b2diZWV0dXNrd3RqdXV0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NjQ0MTIsImV4cCI6MjA5MjE0MDQxMn0.SRpa1r0LisTIuCsRHblx8fNgARMzA6rhQDnjbJ6PQPs
BRAPI_TOKEN=demo
